pipeline/pipeline_raw_data_to_lake.json
{
	"name": "pipeline_raw_data_to_lake",
	"properties": {
		"activities": [
			{
				"name": "copia_dados",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_parametros",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "csv_http",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "csv_datalake",
						"type": "DatasetReference",
						"parameters": {
							"conteiner": {
								"value": "@activity('Lookup_parametros').output.firstRow.parametros.conteiner",
								"type": "Expression"
							},
							"nomearquivo": {
								"value": "@activity('Lookup_parametros').output.firstRow.parametros.nomearquivo",
								"type": "Expression"
							},
							"extensao": {
								"value": "@activity('Lookup_parametros').output.firstRow.parametros.extensao",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Lookup_parametros",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "1.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "json_parametros",
						"type": "DatasetReference"
					}
				}
			}
		],
		"folder": {
			"name": "ingestao_raw_data"
		},
		"annotations": [],
		"lastPublishTime": "2024-01-26T16:34:57Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}