pipeline/validate_file_exist_linux.json
{
	"name": "validate_file_exist_linux",
	"properties": {
		"activities": [
			{
				"name": "validate_csv",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "csv_linux_stage",
						"type": "DatasetReference",
						"parameters": {
							"odate": {
								"value": "@pipeline().parameters.odate",
								"type": "Expression"
							},
							"table_name": {
								"value": "@pipeline().parameters.table_name",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "validate_csv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('validate_csv').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "Arquivo nao encontrado",
								"errorCode": "100"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"odate": {
				"type": "String"
			},
			"table_name": {
				"type": "string"
			}
		},
		"folder": {
			"name": "ingestao_raw_data"
		},
		"annotations": []
	}
}